<section class="text-gray-600 body-font" style="user-select: auto;">
    <div class="container px-5 py-24 mx-auto" style="user-select: auto; padding-top: 3rem;">
      <div class="flex flex-col text-center w-full mb-20" style="user-select: auto;">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900" style="user-select: auto;">Master Cleanse Reliac Heirloom</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base" style="user-select: auto;">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom.</p>
      </div>
      <div class="flex flex-wrap -m-4" style="user-select: auto;">
        <div class="lg:w-1/3 sm:w-1/2 p-4" style="user-select: auto;">
          <div class="flex relative" style="user-select: auto;">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://dummyimage.com/600x360" style="user-select: auto;">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100" style="user-select: auto;">
              <h2 class="tracking-widest text-sm title-font font-medium text-blue-500 mb-1" style="user-select: auto;">THE SUBTITLE</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3" style="user-select: auto;">Shooting Stars</h1>
              <p class="leading-relaxed" style="user-select: auto;">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4" style="user-select: auto;">
          <div class="flex relative" style="user-select: auto;">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://dummyimage.com/601x361" style="user-select: auto;">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100" style="user-select: auto;">
              <h2 class="tracking-widest text-sm title-font font-medium text-blue-500 mb-1" style="user-select: auto;">THE SUBTITLE</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3" style="user-select: auto;">The Catalyzer</h1>
              <p class="leading-relaxed" style="user-select: auto;">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4" style="user-select: auto;">
          <div class="flex relative" style="user-select: auto;">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://dummyimage.com/603x363" style="user-select: auto;">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100" style="user-select: auto;">
              <h2 class="tracking-widest text-sm title-font font-medium text-blue-500 mb-1" style="user-select: auto;">THE SUBTITLE</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3" style="user-select: auto;">The 400 Blows</h1>
              <p class="leading-relaxed" style="user-select: auto;">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            </div>
          </div>
        </div>
        </div>
      </div>
  </section>