<section class="text-gray-600 body-font" style="user-select: auto;">
    <div class="container px-5 py-24 mx-auto" style="user-select: auto; padding-top: 3rem;">
      <div class="flex flex-col text-center w-full mb-20" style="user-select: auto;">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900" style="user-select: auto;">Our Team</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base" style="user-select: auto;">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them.</p>
      </div>
      <div class="flex flex-wrap -m-2" style="user-select: auto;">
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full" style="user-select: auto;">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg" style="user-select: auto;">
            <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/80x80" style="user-select: auto;">
            <div class="flex-grow" style="user-select: auto;">
              <h2 class="text-gray-900 title-font font-medium" style="user-select: auto;">Holden Caulfield</h2>
              <p class="text-gray-500" style="user-select: auto;">UI Designer</p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full" style="user-select: auto;">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg" style="user-select: auto;">
            <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/84x84" style="user-select: auto;">
            <div class="flex-grow" style="user-select: auto;">
              <h2 class="text-gray-900 title-font font-medium" style="user-select: auto;">Henry Letham</h2>
              <p class="text-gray-500" style="user-select: auto;">CTO</p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full" style="user-select: auto;">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg" style="user-select: auto;">
            <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/88x88" style="user-select: auto;">
            <div class="flex-grow" style="user-select: auto;">
              <h2 class="text-gray-900 title-font font-medium" style="user-select: auto;">Oskar Blinde</h2>
              <p class="text-gray-500" style="user-select: auto;">Founder</p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full" style="user-select: auto;">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg" style="user-select: auto;">
            <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/90x90" style="user-select: auto;">
            <div class="flex-grow" style="user-select: auto;">
              <h2 class="text-gray-900 title-font font-medium" style="user-select: auto;">John Doe</h2>
              <p class="text-gray-500" style="user-select: auto;">DevOps</p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full" style="user-select: auto;">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg" style="user-select: auto;">
            <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/94x94" style="user-select: auto;">
            <div class="flex-grow" style="user-select: auto;">
              <h2 class="text-gray-900 title-font font-medium" style="user-select: auto;">Martin Eden</h2>
              <p class="text-gray-500" style="user-select: auto;">Software Engineer</p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full" style="user-select: auto;">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg" style="user-select: auto;">
            <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/98x98" style="user-select: auto;">
            <div class="flex-grow" style="user-select: auto;">
              <h2 class="text-gray-900 title-font font-medium" style="user-select: auto;">Boris Kitua</h2>
              <p class="text-gray-500" style="user-select: auto;">UX Researcher</p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full" style="user-select: auto;">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg" style="user-select: auto;">
            <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/100x90" style="user-select: auto;">
            <div class="flex-grow" style="user-select: auto;">
              <h2 class="text-gray-900 title-font font-medium" style="user-select: auto;">Atticus Finch</h2>
              <p class="text-gray-500" style="user-select: auto;">QA Engineer</p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full" style="user-select: auto;">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg" style="user-select: auto;">
            <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/104x94" style="user-select: auto;">
            <div class="flex-grow" style="user-select: auto;">
              <h2 class="text-gray-900 title-font font-medium" style="user-select: auto;">Alper Kamu</h2>
              <p class="text-gray-500" style="user-select: auto;">System</p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full" style="user-select: auto;">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg" style="user-select: auto;">
            <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/108x98" style="user-select: auto;">
            <div class="flex-grow" style="user-select: auto;">
              <h2 class="text-gray-900 title-font font-medium" style="user-select: auto;">Rodrigo Monchi</h2>
              <p class="text-gray-500" style="user-select: auto;">Product Manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>